<nav class="navbar bg-dark navbar-dark navbar-expand-sm py-0">
  <img class="d-inline-block align-top" id="nav-tt" src="assets/images/pw.jpg" width="5%" height="5%">
  <a href="/" class="navbar-brand">PLANETWALKS
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
    aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#foot">About us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4 mb-4">
  <div class="input-group flex-nowrap">
    <input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="addon-wrapping">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
  </div>

</div>
<div class="container">
<!--  <div *ngIf="home_menu ; else ElseBlock">-->
    <router-outlet></router-outlet>
<!--    <app-citylist (sendChildId)="ReceivedId($event)"></app-citylist>-->
<!--  </div>-->
<!--  <ng-template #ElseBlock>-->
<!--    <app-citylayout  [recCityId]="recCityId" (MainMenu)="MainMenu($event)"></app-citylayout>-->
<!--  </ng-template>-->

</div>


<footer class="page-footer special-color-dark mt-3" id="foot">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <form class="mx-auto">
          <div class="form-row mt-3 d-flex justify-content-center">
            <input type="text" class="form-control form-control-sm mr-3 w-25 "
              placeholder="Subscribe to our newsletter">
            <button class="btn btn-sm" id="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-uppercase font-weight-bold">About us</h5>
        <p>At PlanetWalks, we follow our slogan, build Sustainable Solutions, and motto of empowering masses as much we
          can. We PlanetWalks, are a start-up, working on a hyperlocal e-commerce platform, which is unique in itself in
          terms of execution, strengthening brick and mortar local markets by giving them omni-channel presence.
        </p>
      </div>
    </div>
  </div>
  <hr class="clearfix w-100 d-md-none pb-3">
  <div class="footer-copyright text-center py-3" style="color: #8c8c8c">© 2021 Copyright:
    <a href="#" style="color: white"> Planetwalks.com</a>
  </div>
</footer>

