<h1 class="text-center" *ngIf="!update; else elseH">New Place</h1>
<ng-template #elseH>
  <h1>Update Place</h1>
</ng-template>
<div class="w-100 align-content-center">
  <div class="form-group row" *ngIf="update">
    <label for="placeId">Place Id</label>
    <input class="form-control" type="text" id="placeId" [(ngModel)]="placeId" required>
  </div>
  <div class="form-group row">
    <label for="placeName">Place Name</label>
    <input class="form-control" type="text" id="placeName" [(ngModel)]="placeName">
  </div>
  <div class="form-group row">
    <label for="placeType">Type of Place</label>
    <input class="form-control" type="text" id="placeType" [(ngModel)]="placeType">
  </div>
  <div class="form-group row">
    <label for="address">Address</label>
    <input class="form-control" type="text" id="address" [(ngModel)]="address">
  </div>
  <div class="form-group row">
    <label for="description">Description</label>
    <textarea class="form-control"type="text" id="description" [(ngModel)]="description"></textarea>
  </div>
  <div class="form-group row">
    <label for="imageName">Image Name</label>
    <input class="form-control"type="text" id="imageName" [(ngModel)]="imageName">
  </div>
  <div class="form-group row">
    <label for="cityId">cityId</label>
    <input class="form-control"type="number" id="cityId" [(ngModel)]="cityId">
  </div>
  <button class="btn btn-dark w-100" (click)="saveData()" *ngIf="!update; else elseBlock" type="submit">Create new City</button>
  <ng-template #elseBlock>
    <button class="btn btn-dark w-100" (click)="updateData()" type="submit">Update City</button>
  </ng-template>
</div>
