<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="35">
      <mat-toolbar color="primary">Login Page</mat-toolbar>
      <form class="example-form" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <textarea matInput placeholder="Password"></textarea>
        </mat-form-field>
        <button mat-button type ="submit">Login</button>
      </form>
    </mat-card>

    

</div>