<h1 class="text-center">Enter New City</h1>
<div class="container">
  <div>
    <div class="form-group">
      <label for="inputName">Enter Name</label>
      <input type="text" class="form-control w-50" id="inputName" [(ngModel)]="citiesConfig.name">
    </div>
    <div class="form-group">
      <label for="inputImage">Enter Image Name</label>
      <input type="text" class="form-control w-50" id="inputImage" [(ngModel)]="citiesConfig.image">
    </div>
    <div class="form-group">
      <button class="btn btn-dark" (click)="save()">submit</button>
    </div>
  </div>
</div>
