<div class = "container">
    <div class="container mt-4 mb-4">
        <div class="input-group flex-nowrap">
          <input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="addon-wrapping">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Search</button>
          </div>
        </div>
    </div>
    <section>
        <div>
            <div class="row">
                <div class="mb-4 mt-4 col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let item of cities">
                    <div style="position: relative;" id="{{item.cityId}}" (click)="sendId(item.cityId)" class="card">
                        <img src={{image_source}} class="card-img-top" alt="...">
                      <h2>{{item.cityId}}</h2>
                      <h2>{{item.cityName}}</h2>
    <!--                  <button  (click)="SendId($event)">Click me!</button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
