<h1 class="text-center" *ngIf="!update; else elseH">New City</h1>
<ng-template #elseH>
  <h1>Update CIty</h1>
</ng-template>
<div class="w-100 align-content-center">
    <div class="form-group row" *ngIf="update">
      <label for="cityId">City Id</label>
      <input class="form-control" type="text" id="cityId" [(ngModel)]="cityId" required>
    </div>
    <div class="form-group row">
      <label for="cityName">City Name</label>
      <input class="form-control" type="text" id="cityName" [(ngModel)]="cityName" required>
    </div>
    <div class="form-group row">
      <label for="Description">Description</label>
      <input class="form-control"type="text" id="description" [(ngModel)]="geoLocation" required>
    </div>
    <div class="form-group row">
      <label for="history">History of City</label>
      <textarea class="form-control"type="text" id="history" [(ngModel)]="history" required></textarea>
    </div>
    <div class="form-group row">
      <label for="weatherCondition">Climate</label>
      <input class="form-control"type="text" id="weatherCondition" [(ngModel)]="weatherCondition" required>
    </div>
    <div class="form-group row">
      <label for="population">Population</label>
      <input class="form-control "type="number" id="population" [(ngModel)]="population" required>
    </div>
    <button class="btn btn-dark w-100" (click)="saveData()" *ngIf="!update; else elseBlock" type="submit">Create new City</button>
  <ng-template #elseBlock>
    <button class="btn btn-dark w-100" (click)="updateData()" type="submit">Update City</button>
  </ng-template>
</div>
